<%-include('../header') %>
<div class="cosl-sm-12" id="title">
  <div class="container-fluid">
    <p class="page-title"><%= title %></p>
  </div>
</div>
<div class="container admin-panel">
  <div class="col-sm-6 container-title" >
    <div class="container-fluid">
      <p class="add-employee">Admin Dashboard</p>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="container-fluid">
      <a class="add-employee" href="/employee/add-employee">Add Employee</a>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="container-fluid">
      <a class="add-leave" href="/employee/add-leave">Add Leave</a>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="container-fluid">
      <a class="employee-detail" href="/employee/employee-detail">Employee Details</a>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="container-fluid">
      <a class="leave-detail" href="/employee/leave-detail">Leave Details</a>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="container-fluid">
      <a class="change-password " href="/users/change-password">Change Password</a>
    </div>
  </div>
</div>

</body>
</html>
