<%-include('../header') %>
<div class="cosl-sm-12" id="title">
  <div class="container-fluid">
    <p class="page-title"><%= title %></p>
  </div>
</div>
<div class="container">
	<%- include('../partials/messages') %>
	<p>Please identify your account, and we will email you a link to reset your password</p>
	<div class="forget-form container-form">
	  <form id="forgetPassForm" method="post" action="/users/forget-password">
	    <div class="form-group">
	      <label for="email">User Name</label>
	      <input class="form-control input-lg" type="email" name="email" id="email" placeholder="Enter Your Email" autocomplete = 'off' />
	    </div>
	    <div class="form-group">
	      <input type="submit" name="submit" class="btn btn-primary" value="Send" />
	    </div>
	  </form>
	</div>
</div>
</body>
</html>