<%-include('../header') %>
<div class="cosl-sm-12" id="title">
  <div class="container-fluid">
    <p class="page-title"><%= title %></p>
  </div>
</div>
<div class="container">
	<%- include('../partials/messages') %>
	<div class="login-form container-form">
	  <form id="loginForm" method="post" action="/users/login">
	    <div class="form-group">
	      <label for="username">User Name</label>
	      <input class="form-control input-lg" type="text" name="username" id="email" placeholder="username" autocomplete = 'off' />
	    </div>
	    <div class="form-group">
	      <label for="password">Password</label>
	      <input class="form-control input-lg" type="password" name="password" placeholder="password" autocomplete = 'off' />
	    </div>
	    <div class="form-group">
	      <input type="submit" name="submit" class="btn btn-primary" value="LOGIN" />
	      <a class="btn btn-danger" href="/">CANCEL</a>
	      <a  href="/users/forget-password" class="forgot-password" >Forgot Password?</a>
	    </div> 
	    
	  </form>
	  <p>If you do not have an acount <a href="/users/signup">Register Here</a></p>

	</div>
</div>
</body>
</html>