<%-include('header') %>
<table width="1180" cellspacing="1" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" id="home">
  <tbody><tr>
    <td><table width="1180" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td><img src="/images/lms3.jpeg" width="645" height="202"></td>
        <td><img src="/images/home2.jpg" width="535" height="202"></td>
      </tr>
    </tbody></table>
      <table width="1180" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td width="90"><img src="/images/s6.gif" width="90" height="85"></td>
          <td style="background: #cbcbcb url(/images/s4.gif) repeat-x;" width="100%"><h1>Article - Leave Management System</h1>
            <br><br>
		  <a href="../hr/module_leave.php">
		  <div style="color:blue"></div>
		  </a></td>
          <td width="2%"><img src="/images/s3.gif" width="22" height="85"></td>
        </tr>
      </tbody></table>
      <table width="1180" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td style="height:419px; background: #ffffff url(/images/s7.gif) repeat-x;" valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td width="90" valign="top">&nbsp;</td>
                <td style="padding-right:50px; " valign="top" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td><hr class="hr2"></td>
                  </tr>
                </tbody></table>                <p>In modern business practice there are many kinds of leave available to employees; sick, annual, unpaid and compassionate. Tied together with the different leave structures of companies and the requirements to request and grant leave we can often allocate too much time and resources to manage it. With business practise in Durban having to catch up with the fast pace of Johannesburg and Cape Town, minimal time should be spent on managing leave. A leave management system, also known as LMS, is a platform that enables a company to easily and correctly allocate, track and grant leave as well as allow for employees to request and track their own leave. This is beneficial to Durban on a whole to allow for more time to streamline all other business aspects.                  </p>
                  <p>Today’s leave management system is more often found in the form of a web based application due to its easy accessibility and ability to run on almost any device and operating system that has a web browser. Leave management systems make it easy for an employee to request leave from their own desk or even from home if sick. The employee can also attach a doctor’s certificate to the requested leave application if required. 
 </p><p>The request for leave will then reflect to the relevant superior for approval, if the leave request is denied, a reason must be entered into the leave management system and the applicant will be notified. This is particularly beneficial to companies with branches positioned around Durban. If the leave application requires a second superior to approve it the leave management system will notify and request their approval before notifying the applicant. The leave management system can also notify other parties that are required to be notified about an employee’s leave but not required to approve the leave. This will help organising appointments and meetings that were to take place with clients located around Durban. 
 </p><p>A leave management system provides an easy way for human resources or management to administer leave, granting the ability to setup a standard leave scheme or customizes it per employee, which in Durban, where people have more than one job allocated to them, their job would be made easy. The leave management system will automatically deduct leave, take and add leave accumulated according to number of days giving within a determined period in accordance with the company’s leave policy. 
 </p><p>Having a detailed record of leave is essential for different departments in Durban companies and highlights the leave managements system’s ability to keep a history of leave means details and specific reports can be drawn to identify employees personally, that perhaps are consistently going over their allocated leave or that workaholic that has accumulated too much leave. The data in the leave management system can also be extracted and used to speed up the running of payroll or wages in a company. 
 </p><p>A leave management system automates the entire process revolved around leave within a company, saving time and resources by letting employees focus on the important tasks before them and eliminating the traditional need to record and file leave documents. With the business world being so competitive in Durban, this could save valuable time for other projects. 
 </p></td>
   </tr>

 </tbody></table> 
 <p>&nbsp;</p>
 	<div class="row">
 		<div class="col-md-3 col-sm-6 col-xs-6 full_width">
		 	<div class="card">
			  <p>Employee Management</p><i class="fa fa-desktop"></i>
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			  
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 full_width">
		 	<div class="card">
			  <p>Leave Management</p><i class="fa fa-pagelines"></i>
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 full_width">
		 	<div class="card">
			  <p>Login Management</p><i class="fa fa-sign-in"></i>
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 full_width">
		 	<div class="card">
			  <p>Roles Management</p><i class="fa fa-id-badge"></i>
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		
	</div>		

 </td>
              </tr>
</tbody></table>


              